# Core functionality - changes here should be rare!
/src/app.py                   @akylbekabdikulov-005
/src/backend/database.py      @akylbekabdikulov-005
/src/backend/routers/auth.py  @akylbekabdikulov-005

# The frontend will need refactored soon to be more object oriented.
/src/static/   @akylbekabdikulov-005
